
.map {
  position: relative;
  overflow: hidden;
  background-color: #FEFCF5;
}

.layer {
  position: absolute;
}

#base_layer {
  z-index: 1;
  pointer-events: none;
}

#land_usage_layer {
  z-index: 2;
  pointer-events: none;
}

#water_layer {
  z-index: 0;
  pointer-events: none;
}

#pois_layer {
  z-index: 4;
  pointer-events: none;
}

#subway_stations_layer {
 z-index: 3;
 pointer-events: none;
}

.tile {
  position: absolute;
  width: 256px;
  height: 256px;
}

.tile path {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.tile .major_road { stroke: #776; }
.tile .minor_road { stroke: #ccb; }
.tile .highway { stroke: #888; stroke-width: 1px; }

.tile .park,
.tile .cemetery {
  fill: #D7F0B0;
  stroke-width: 0px;
}

.tile .college,
.tile .school,
.tile .university {
  stroke-width: 0px;
  /*fill: #D0A19C;*/
  fill: #FBDFBC;
}

.tile-feature {
  pointer-events: all !important;
}

.tile .water,
.tile .riverbank {
  stroke-width: 0px;
  fill: #CFE6E6;
}

.subway-station {
  fill: #FF7800;
  stroke-width: 0.5px;
  stroke: #000;
  pointer-events: all;
}

.poi {
  fill: #FE4365;
  stroke-width: 0.5px;
  stroke: #000;
  pointer-events: all;
};

